body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(237, 235, 235);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
canvas {
    display: inline-block;
    
    box-sizing: border-box;
    /* border: 1px solid #000; */
    transform: scale(2);
}