* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    width: 100%;
    height: 100%;
}

body {
    background-color: rgb(229, 229, 229);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    min-width: 550px;
    min-height: 500px;
    border: 1px solid #000;
    padding: 10px;
    position: relative;
}

.numbers {
    width: 453px;
    height: 453px;
    border: 1px solid rgba(0, 0, 0, 0.305);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
/* 为防止小的格子挤得太紧，适当缩小小格子的大小 */
.grid {
    width: 150px;
    height: 150px;
    border: 1px solid rgb(8, 24, 199);
    padding-top: 1px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.cell {
    width: 49px;
    height: 49px;
    border: 1px solid rgba(16, 77, 198, 0.623);
    font-size: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: default;
}

.cur-cell {
    background-color: rgb(46, 237, 7);
}

.buttons {
    /* float: left; */
    margin-top: 10px;
}

.buttons button {
    display: inline-block;
    border: none;
    background-color: rgba(56, 119, 246, 0.81);
    color: white;
    font-size: 16px;
    padding: .25em .5em;
    border-radius: 5px;
}
.buttons button:active {
    background-color: rgb(62, 62, 237);
}

.number-input {
    display: flex;
    flex-direction: column;

    position: absolute;
    right: 10px;
    top: 10px;
}

.number-input > div {
    background-color: rgb(38, 195, 242);
    width: 40px;
    height: 40px;
    font-size: 25px;
    border-radius: 50%;
    text-align: center;
    margin-bottom: 5px;
    padding-top: 2px;
    cursor: pointer;
    user-select: none;
}

.number-input > div:active {
    background-color: rgba(38, 194, 242, 0.577);
}