html,body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
body {
    background-color: rgb(237, 235, 235);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wrap {
    position: relative;
    transform: scale(2);
}
